@import (css)
url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

.section_coins_main-details {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  .section_block-details {
    display: flex;
    flex: 1;
  }
}
